lors
<form action="" method="post">{% csrf_token %}
{{form.as_p}}
</form>

<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
<script>


    var tokenInput = function(selector, options) {
        if(typeof selector === 'undefined') selector = '.token-input-wrap';
        if(typeof options === 'undefined') options = {};

        this.root = $(selector);
        this.element = {
            field: this.root.find('input.token-input'),
            selection: this.root.find('select'),
            list: this.root.find('.token-input-selected-list'),
            dropdown: this.root.find('.token-input-dropdown')};

        this.options = {
            // Allow any value
            // TODO: Implement this
            allowAny: true,

            // Maximum number of selected items, 0 is infinite
            // TODO: Implement this
            maxSelected: 0,

            // If true, the dropdown is shown even if the input field is empty
            showSuggestionsIfEmpty: false,

            // Prevent the creation of empty values
            // TODO: Implement this
            forbidEmpty: true,
        };

        // Event handlers
        var self = this;
        this.root.on('click', function(evt) {
            //self.select('lrs');
        });
        /*
        this.element.selection.on('change', function(evt) {
            var val = [];
            $(this).children().each(function(n, e) {
                $(e).attr('selected', 'selected');
                val.push($(e).val());
            });
            $(this).val(val);
        });
        '*/
        this.root.on('deleteItem', function(event) {
            if(typeof event.key === 'undefined') self.deleteLatest();
            else self.deleteSelection(event.key);
        });
        this.root.on('addItem', function(event) {
            self.add(event.key);
        });

        this.root.on('update', function(event) { self.update(); });

        this.root.on('clearInput', function(event) { self.clearInput(); });

        this.element.field.on('keydown', function(e) {
            if(e.which == 9 || e.which==13) {
                if(!self.options.showSuggestionsIfEmpty && self.isEmpty())
                    return;
                e.preventDefault();
                var key = self.element.field.val();
                self.root.trigger({type: 'addItem', key: key});
                return false;
            }
            else if(e.which == 8) {
                if(self.isEmpty()) {
                    e.preventDefault();
                    self.root.trigger('deleteItem');
                    return false;
                }
            }
        });

    };


    tokenInput.prototype.isEmpty = function() {
        var val = this.element.field.val();
        return $.trim(val).length==0;
    };


    tokenInput.prototype.getInput = function() {
        var val = this.element.field.val();
        return $.trim(val).length === 0 ? null : $.trim(val);
    };


    tokenInput.prototype.getSelection = function(as_jquery) {
        if(typeof as_jquery === 'undefined') as_jquery = false;
        if(as_jquery) return this.element.selection.children('option:selected');
        return this.element.selection.val();
    };


    tokenInput.prototype.clearInput = function() {
        this.element.field.val("");
    };


    tokenInput.prototype.deleteSelection = function(key, restore) {
        if(typeof restore === 'undefined') restore = false;
        var slct = this.getSelection(true);
        if(slct.length==0) return false;
        slct.each(function() {
            if($(this).val() == $.trim(key)) {
                slct = this;
                $(this).removeAttr('selected');
                return;
            }
        });
        this.root.trigger('update');
        if(restore) this.element.field.val(slct.text);
        return true;
    };


    tokenInput.prototype.deleteLatest = function() {
        return this.deleteSelection(this.getSelection(true).last().val(), true);
    };


    tokenInput.prototype.add = function(key, val) {
        if(this.isEmpty() || typeof key === 'undefined') return null;
        $.trim(key);
        $.trim(val);
        var existing = this.has(key);
        this.root.trigger('clearInput');
        if(existing!==false) {
            $(existing).attr('selected', 'selected');
            this.root.trigger('update');
            return existing;
        }
        if(typeof val === 'undefined') val = key;
        this.element.selection.append($('<option>', {
            value: $.trim(key), selected: 'selected'}).text($.trim(val)));
        this.root.trigger('update');
    };


    tokenInput.prototype.has = function(val) {
        var opts = this.element.selection.children('option');
        if(opts.length == 0) return false;
        else if(opts.length == 1 && opts[0].text == $.trim(val)) return true;
        if(opts.length > 1) {
            var result = false;
            opts.each(function(){
                if(this.text == $.trim(val)) {
                    result = this;
                    return;
                }
            });
        }
        return result;
    };


    tokenInput.prototype.update = function() {
        var val = [];
        this.element.selection.children('option').each(function(n, e) {
            if($(e).attr('selected'))
                val.push($(e).val());
        });
        this.element.selection.val(val);
        this.renderSelection();
        return val;
    };


    tokenInput.prototype.renderSelection = function() {
        var slct = this.getSelection(true);
        var field = this.element.field.parent().detach();
        var list = this.element.list;
        var self = this;

        list.html("");
        slct.each(function() {
            var elem = $("<li>" + this.text + "</li>");
            elem.data('key', this.value);
            list.append(elem);
            elem.on("click", function(evt) {
                self.root.trigger({type: 'deleteItem', key: elem.data('key')});
            });
        });
        list.append(field);
        this.element.field.focus();
    };


    tokenInput.prototype.getSearchResults = function() {
        // TODO: Implement me
    };


    tokenInput.prototype.renderSearchResults = function() {
        // TODO: Implement me
    };

    $().ready(function() {
        // TODO: Foreach-loop
        /*
        $('.token-input-wrap').each(function() {
            $(this).data('tokeninput') = new tokenInput($(this));
        });
        */
        var t = new tokenInput();
        console.log(t);
    });


</script>
